.detailPage {
  width: 85%;
  height: 80%;
  margin: 3rem auto;
  padding: 1rem 0;
  background-color: #c9b092;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.detailPage___image {
  width: 50%;
  height: 80%;
  margin: 1rem;
}

.detailPage___image img {
  border: 3px solid #fff;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.detailPage___info {
  width: 50%;
  height: 90%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.detailPage___info___header {
  margin-bottom: 1rem;
}

.detailPage___info___header h2 {
  margin: 0.5rem 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.detailPage___info___header h3 {
  margin-bottom: 5px;
  color: rgb(247, 247, 247);
}

.detailPage___info___details {
  margin-bottom: 1rem;
}

.detailPage___info___details dt {
  font-weight: bold;
  margin-bottom: 10px;
}

.detailPage___info___details dd {
  margin: 0 0 1rem 1.5rem;
  font-size: 0.9rem;
  color: rgb(247, 247, 247);
}

.detailPage___info___access h2 {
  margin: 0.5rem 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.detailPage___info___access dt {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.detailPage___info___access dd {
  line-height: 25px;
  margin: 0 0 1rem 1.5rem;
  font-size: 0.9rem;
  color: rgb(247, 247, 247);
}

.detailPage___info___access p {
  line-height: 25px;
}

.detailPage___info___access a {
  text-decoration: none;
  transition: 0.5s;
  color: rgb(247, 247, 247);
}

.detailPage___info___access a:hover {
  color: #777;
}

/* Mobile CSS */
@media only screen and (max-width: 560px) {
  .detailPage {
    height: auto;
    width: 95%;
    margin: 0 0.1rem 4rem 0.1rem;
    flex-direction: column;
  }

  .detailPage___image {
    width: 60%;
    height: auto;
    margin: 1rem 0 2rem 0;
  }

  .detailPage___image img {
    border: 3px solid #fff;
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
  }

  .detailPage___info {
    width: 80%;
    margin: 10px 1rem auto 1rem;
    display: block;
    overflow: unset;
  }

  .detailPage___info___header {
    margin-bottom: 2rem;
  }

  .detailPage___info___header h2 {
    font-size: 2rem;
  }

  .detailPage___info___header h3 {
    font-size: 0.9rem;
  }

  .detailPage___info___details {
    margin-bottom: 2rem;
  }

  .detailPage___info___details dt {
    font-size: 1.2rem;
  }

  .detailPage___info___details dd {
    font-size: 1rem;
  }

  .detailPage___info___access dt {
    font-size: 1.2rem;
    margin-bottom: 2px;
  }

  .detailPage___info___access dd {
    line-height: 25px;
    margin-bottom: 10px;
    font-size: 1rem;
  }
}
