.ServiceIcons {
  height: 100%;
}

.ServiceIcons img {
  height: 4.5rem;
  width: 4.5rem;
  display: block;
  margin: 0.8rem auto;
  border-radius: 0.3rem;
  opacity: 0.8;
  transition: 0.5s;
}

.ServiceIcons img:hover {
  cursor: pointer;
  opacity: 1;
}

.ServiceIcons .isClicked {
  opacity: 1;
}

@media only screen and (max-width: 560px) {
  .ServiceIcons {
    height: 100%;
  }

  .ServiceIcons img {
    height: 3.5rem;
    width: 3.5rem;
    z-index: -1;
  }
}
