/* Universal Styles */

html {
  height: 100%;
  font-size: 18px;
  background-color: #222;
  font-family: "Noto Sans JP", sans-serif;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: "Noto Sans JP", "Work Sans", sans-serif;
}

h1 {
  padding: 0.66rem 0;
  text-align: center;
  letter-spacing: 10px;
  background-color: #222;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #fff;
}

h6 {
  padding: 1rem 0;
  text-align: center;
  letter-spacing: 5px;
  background-color: #222;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  font-size: 0.5rem;
  color: #fff;
}

@media only screen and (max-width: 560px) {
  h6 {
    font-size: 0.4rem;
    letter-spacing: 3px;
  }
}

.header {
  height: 3rem;
  margin-bottom: 0.5rem;
}

.header img {
  height: 100%;
  display: block;
  width: auto;
  margin: 10px auto 0 auto;
}

@media only screen and (max-width: 560px) {
  .header {
    height: 2.5rem;
  }
}

.footer {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  font-size: 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 3px;
}

.footer small {
  display: block;
  margin-top: 0.5rem;
}

.footer a {
  color: #aaa;
  text-decoration: none;
  letter-spacing: 2px;
}

.footer a:hover {
  color: #fff;
}

@media only screen and (max-width: 560px) {
  .footer small {
    font-size: 0.5rem;
    letter-spacing: 3px;
  }
}

/* Video Player */
