/* Universal Styles */

html {
  height: 100%;
  font-size: 18px;
  background-color: #c9b092;
  font-family: "Noto Sans JP", "Work Sans", sans-serif;
}

input:focus {
  outline: none;
}

/* App Styles */
.header {
  height: 3rem;
  margin-bottom: 0.5rem;
}

.header img {
  height: 100%;
  display: block;
  width: auto;
  margin: 10px auto 0 auto;
}

.footer {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  font-size: 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 3px;
}

.footer small {
  display: block;
  margin-top: 0.5rem;
}

.footer a {
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
  letter-spacing: 2px;
}

.footer a:hover {
  color: #999;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }

  .header {
    height: 2.5rem;
  }

  h6 {
    font-size: 0.4rem;
    letter-spacing: 3px;
  }

  .footer small {
    font-size: 0.5rem;
    letter-spacing: 3px;
  }
}
