.detailPage___icons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(1rem, auto);
  gap: 0.5rem 0.5rem;
  margin-bottom: 1rem;
}

.detailPage___icons img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 560px) {
  .detailPage___icons {
    margin-bottom: 2rem;
    gap: 0.8rem 0.5rem;
    grid-template-columns: repeat(5, 1fr);
  }

  .detailPage___icons img {
    width: 3rem;
    height: 3rem;
  }
}
