.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./background_search_desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 35rem;
}

.SearchBar-sort-options h2 {
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 0.5rem;
  filter: drop-shadow(1px 1px 2px #000);
}

.SearchBar-sort-options ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: #ffffff;
}

.SearchBar-sort-options li {
  cursor: pointer;
  width: 4.33rem;
  border-bottom: 2px solid #222;
  margin: 1rem 1rem 0 1rem;
  padding: 0 2.55rem 1rem 2.58rem;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: 0.83rem;
  transition: color 0.5s;
  filter: drop-shadow(1px 1px 2px #000);
}

.SearchBar-sort-options li:hover {
  color: #999;
  border-bottom: 1px solid #222;
}

.SearchBar-sort-options li.active,
.SearchBar-sort-options li.active:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.SearchBar-submit {
  text-align: center;
}

.SearchBar-submit button {
  border-radius: 4px;
  border-color: #fff;
  padding: 0.5rem 2rem;
  background-color: #ad8551;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.5s;
}

.SearchBar-submit button:hover {
  cursor: pointer;
  background-color: #ae6f23;
  color: #fff;
}

@media only screen and (max-width: 560px) {
  .SearchBar {
    background-image: url("./background_search_mobile.jpg");
    background-position: bottom;
    height: 40rem;
  }

  .SearchBar-sort-options h2 {
    margin-bottom: 20px;
  }

  .SearchBar-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBar-sort-options li {
    margin-top: 0;
    padding: 1rem 2.5rem;
    margin: 0 10px;
    border-radius: 1px;
    font-size: 0.75rem;
    filter: drop-shadow(0px 0px 0px #000);
  }

  .SearchBar-sort-options li.active,
  .SearchBar-sort-options li.active:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
  }
}
