.Business {
  color: #fff;
  width: 16.66rem;
  margin: 0 0.5rem 2.3rem 0.5rem;
}

.Business .Business___information h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.Business .Business___information p {
  color: rgb(247, 247, 247);
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1rem;
  margin: 5px 0;
}

.Business .Business___information h3 {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 100;
}
